body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result img {
    max-width: 50px; /* Adjust the width as needed */
    height: auto;
    display: none; /* Initially hide the image */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../milky-way-2695569_1280.jpg');
    background-size: cover; /* You can adjust this value */
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.avatar-container img {
    max-width: 100px; /* Adjust as needed */
    height: auto;
    margin: 0 10px; /* Add some spacing between avatars */
}